**/cscope.*
**/*.o
**/*.a
**/*.aux
**/*.log
**/.*.swp
docs/*
testing/dtesting
testing/lin/xlintstz
testing/lin/xlintstd
testing/lin/chkxer.f
testing/lin/xlintsts
testing/lin/xlintstc
testing/stesting
testing/ztesting
testing/ctesting
timing/time_sgesv_incpiv_tile
timing/time_dsgesv_tile
timing/time_dsposv_tile
timing/time_zgecfi
timing/time_zgesv
timing/time_sgetrf
timing/time_zgesvd_tile
timing/time_dgesv_incpiv_tile
timing/time_dgels
timing/time_dsytrd_tile
timing/time_sgecfi
timing/time_sgeqrf
timing/time_dtrsm
timing/time_zhetrd_tile
timing/time_dgeqrf_tile
timing/time_dpotrf_tile
timing/time_cgesv_incpiv_tile
timing/time_dgeqrf
timing/time_zgesdd_tile
timing/time_zgetrf_tntpiv_tile
timing/time_zgels_tile
timing/time_cgesvd_tile
timing/time_dgetrf_tntpiv_tile
timing/time_cpotri_tile
timing/time_zgetrf_rectil
timing/time_dgetrf_reclap
timing/time_zpotrf
timing/time_cpotrf
timing/time_dposv
timing/time_dgesv_tile
timing/time_sposv
timing/time_dgemm
timing/time_slapack2tile
timing/time_sgesv_incpiv
timing/time_ssygv_tile
timing/time_sgels
timing/time_dsygv_tile
timing/time_zgeqrf
timing/time_sgesvd_tile
timing/time_dsyevd_tile
timing/time_cgels
timing/time_ztrsm
timing/time_zcposv_tile
timing/time_dgels_tile
timing/time_sgetri_tile
timing/time_cposv_tile
timing/time_zheevr_tile
timing/time_zgemm
timing/time_cgesv_tile
timing/time_dgesvd_tile
timing/time_cgetri_tile
timing/time_cgecfi
timing/time_sgemm_tile
timing/time_cgemm_tile
timing/time_dposv_tile
timing/time_zgesv_tile
timing/time_zgeqrf_tile
timing/time_dsyev_tile
timing/time_dgesdd_tile
timing/time_zpotri_tile
timing/time_sgemm
timing/time_cgetrf_rectil
timing/time_dlapack2tile
timing/time_cgesv
timing/time_ssyevr_tile
timing/time_cpotrf_tile
timing/time_strsm
timing/time_zgetrf_incpiv_tile
timing/time_dsgesv
timing/time_sgetrf_tntpiv_tile
timing/time_zgetrf_incpiv
timing/time_cgemm
timing/time_sgesv_tile
timing/time_ctrsm
timing/time_zcgesv_tile
timing/time_cgeqrf
timing/time_chetrd_tile
timing/time_cgetrf_tntpiv_tile
timing/time_cgels_tile
timing/time_ssyevd_tile
timing/time_cgetrf_tile
timing/time_cgetrf_incpiv_tile
timing/time_spotrf
timing/time_cheev_tile
timing/time_clapack2tile
timing/time_dgesv
timing/time_dgetrf_rectil
timing/time_cgetrf_reclap
timing/time_zgetrf_reclap
timing/time_cgeqrf_tile
timing/time_zgels
timing/time_cgesdd_tile
timing/time_cheevd_tile
timing/time_sgetrf_incpiv_tile
timing/time_cgetrf
timing/time_dpotri_tile
timing/time_zgesv_incpiv
timing/time_sgetrf_rectil
timing/time_sgeqrf_tile
timing/time_zgetri_tile
timing/time_cgetrf_incpiv
timing/time_ssytrd_tile
timing/time_zlapack2tile
timing/time_cposv
timing/time_zpotrf_tile
timing/time_sgetrf_reclap
timing/time_dsyevr_tile
timing/time_dgetrf_tile
timing/time_dpotrf
timing/time_chegv_tile
timing/time_zposv_tile
timing/time_zposv
timing/time_spotrf_tile
timing/time_dgecfi
timing/time_sposv_tile
timing/time_dgetrf
timing/time_zgeqp3
timing/time_zhegv_tile
timing/time_zgetrf
timing/time_dgetrf_incpiv_tile
timing/time_cheevr_tile
timing/time_dgeqp3
timing/time_dgemm_tile
timing/time_sgetrf_incpiv
timing/time_zgetrf_tile
timing/time_sgels_tile
timing/time_zgemm_tile
timing/time_cgesv_incpiv
timing/time_zcgesv
timing/time_sgetrf_tile
timing/time_zcposv
timing/time_dsposv
timing/time_zheevd_tile
timing/time_sgesv
timing/time_spotri_tile
timing/time_zheev_tile
timing/time_zgesv_incpiv_tile
timing/time_cgeqp3
timing/time_ssyev_tile
timing/time_sgesdd_tile
timing/time_dgetrf_incpiv
timing/time_dgesv_incpiv
timing/time_sgeqp3
timing/time_dgetri_tile
examples/example_dtrsm
examples/example_zgesv_f
examples/example_gemm
examples/example_dposv
examples/example_sgeqrf
examples/example_sposv
examples/example_dposv_f
examples/example_zunmqr
examples/example_spotrs
examples/example_strsm
examples/example_sgels
examples/example_dgels
examples/example_cpotrs
examples/example_cgels_f
examples/example_ctrsmpl
examples/example_sposv_f
examples/example_dormlq
examples/example_sormqr
examples/example_zgels
examples/example_cgeqrs
examples/example_cunmlq
examples/example_dtrsmpl
examples/example_sgelqs
examples/example_zposv
examples/example_ztrsmpl
examples/example_zunmlq
examples/example_cgesv
examples/example_dpotrs
examples/example_zgetrs
examples/example_spotrf
examples/example_sgesv
examples/example_dgeqrf
examples/example_sgeqrs
examples/example_dgelqs
examples/example_cposv
examples/example_cgelqf
examples/example_zpotrf
examples/example_zposv_f
examples/example_zgeqrf
examples/example_sgetrs
examples/example_zgelqf
examples/example_cpotrf
examples/example_cunmqr
examples/example_strsmpl
examples/example_sormlq
examples/example_cgelqs
examples/example_dgels_f
examples/example_zgels_f
examples/example_dgetrs
examples/example_cposv_f
examples/example_zgesv
examples/example_dgeqrs
examples/example_cgesv_f
examples/example_zpotrs
examples/example_zgeqrs
examples/example_cgeqrf
examples/example_sgesv_f
examples/example_cgetrs
examples/example_dpotrf
examples/example_dgelqf
examples/example_ztrsm
examples/example_sgels_f
examples/example_dgesv_f
examples/example_dormqr
examples/example_dgesv
examples/example_ctrsm
examples/example_zgelqs
examples/example_sgelqf
examples/example_cgels
ompss/dgemm_ompss
